.bg-body{
  width: 100% !important;
  padding:0% ;
  margin: 0px auto; 
}
.nav_header
{
  color: white;
}
.b{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff !important;
  
}
#collasible-nav-dropdown{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff !important;
  background-color: #3E005B !important;
  
}

.collasible-nav-dropdown{
  background: #3E005B !important; 
  margin-top: 0px !important;
}
.ba{
 margin-right: 50px;
}

.back{
  background-color: #3E005B !important;
  color:#fff !important;
  font-size: 20px;
  font-weight: 500;

}
.back:hover{
  color:#E4A5FF !important;
}
.image{
  height: 70px;
  width:70px;
}
.bg{
  background-color:#3E005B;
  font-family:"Arial";
  width: 100% !important;
  background-size: 100%;
  position: relative;
  min-height: 12vh;
  font-weight: bold;
  font-size: 20px;
  display: flex;
}
.b:hover{
color:#E4A5FF !important ;
}
.dropdown-menu{
background-color: #3E005B !important;
}
