.Company_div
{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 40px;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-top:15px ;
    margin-bottom:15px ;
}
.Company_info
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.Company_info h2
{
    font-size: 40px;
    text-align: center;
    color: #3E005B;
    margin-top: 120px;
    font-weight: 600;
}
.Company_info button
{
    height: 70px;
    width: 220px;
    border-radius: 15px;
    background-color: #3E005B;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 18px;
    border: none;
}
.Company_logo img
{
    height: 425px;
    width: 550px;
}
.Company_info button:hover{
    transition: all ease 0.3s;
    box-shadow: 3px 3px 5px 5px #E4A5FF;
    border: none;
}