.event_block
{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    row-gap: 20px;
}
.headers
{
    text-align: center;
    font-size: 55px;
    color: #3E005B;
    margin-top: 20px;
}
.headers h1
{
    font-weight: 700;
}
.myevents
{
    background-color:#E4A5FF;
    color: black;
    width: 90%;
    box-shadow: 2px 2px 2px 2px #3E005B ;
    padding: 10px;
    border-radius: 20px;
}
.myevents h1
{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    color: #3E005B;
    margin-bottom: 20px;
}
.myevent
{
    display: grid;
    grid-template-columns: 20% 33% 45%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.myevent h2
{
    font-size: 32px;
    font-weight: 700;
}
.status
{
    display: grid;
    grid-template-columns: 25% 25%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
.status button
{
    height: 50px;
    width: 220px;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none; 
    padding: 5px;
}
.accept
{
    background-color: #04c204;
    box-shadow: 2px 2px 2px 2px green;
}
.reject
{
    background-color: #d30404;
    box-shadow: 2px 2px 2px 2px rgb(114, 0, 0);
}

.app_status1 h1
{
    color: rgb(143, 2, 2);
    margin-top: 10px;
    margin-bottom: 10px;
} 
.accepted h1
{
    color: rgb(2, 168, 35);
    font-weight: 700;
    text-align: center;
}
.rejected h1
{
    color:  rgb(143, 2, 2);
    font-weight: 700;
    text-align: center;
}